* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

:root {
    --iris: #4d5ae5;
    --navyblue: #2E2F42;
    --ocean: #404bbf;
    --white: #ffffff;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --green: #31d0aa;
    --lightslate: #8e8f99;
    --navybluemodal: #2e2f42;
    --grey: #2e2f42;
    --dairy: #fcfcfc;
}

.main-header{
    display: flex;
    width: 1440px;
    height: 72px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 0;
    gap: 330px;

}

.main-header-nav{
    display:inline-flex;
    text-decoration: none;
    padding: 25.5px, 156px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.nav-list{
    display:inline-flex;
    text-decoration: none;
    padding-left: 0;
    margin-left: 130px;
    margin-top: auto;
    margin-bottom: auto;
    gap:40px;

}

.nav-logo-wrap {
    display:flex;
    color: var(--iris);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
}

.nav-logo-wrap a {
    /* display:inline-flex; */
    text-decoration: none;
}

.studio {
    color: var(--navyblue);
}  

.address-link-list,
.nav-list-link{
list-style: none; 
}

.nav-link {
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration:none;
}

.nav-logo-wrap a:hover,
.studio:hover,
.nav-link:hover {
    color: var(--ocean);
}

address {
    /* display: inline-flex; */
    font-style: normal;
    margin-bottom:0;
    
}

.address-list{
    display:inline-flex;
    padding-left: 0;
    margin-left:0;
    gap: 40px;
}

.address-list a{
gap: 330px;
margin:0;
}

.address-link {
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
}

.address-link:hover {
    color: var(--ocean);
}

.hero-description {
    display:inline-block;
    background-color: var(--navyblue);
        width: 1440px;
        height: 600px;
        padding:0;
        margin:0;
}
h1{
    color:var(--white);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    padding: 188px 472px 0px;  
}

button {
    display:inline-flex;
    flex-wrap: wrap;
    width: 169px;
    height: 56px;
    margin: 48px 635px 188px 636px;
    color: var(--white);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    padding: 16px 32px;
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    gap: 10px;
    cursor: pointer;
}
button:hover {
    color: var(--cloud);
}

.features {
    display:inline-flex;
    padding:120px 156px 0px;
    list-style: none;
    gap:24px;
}
.hero-features {
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    padding-bottom:8px;
}

 .body-header{
    display:inline-flex;
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding:120px 558px 0px 559px;
}

.body-header-images{
    display: inline-flex;
    padding:72px 156px 120px;
    list-style:none;
    gap:24px;
}

.team-background{
    display:inline-block;
    background: var(--cloud);
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
   padding: 0;
   margin:0;
}
.team-header {
display: inline-flex;
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    line-height: 40px;

    text-transform: capitalize;
    padding:120px 639px 0px 639px;
}

.team-header-list{
    display: inline-flex;
   padding: 72px 156px 0px;
   list-style:none;
   gap:24px;
}

.team-header-name{
    color: var(--navyblue, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        padding-top:32px;
}

.team-header-position{
    color: var(--slate, #434455);
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        padding-top:8px;
}

.button-links {
    color: var(--iris);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    cursor: pointer;
}

.button-links:hover {
    color: var(--white);
    text-align: center;
    border-radius: 4px;
    background: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.image-thumbnails {
    width: 360px;
    height: 300px;
    border: 1px solid var(--cornflower);
    background: var(--white);
    gap: 32px;
}

.main-footer{
    display:inline-block;
    background: var(--navyblue);
    width:1440px;
    height:312px;
    
}

.footer-container{
    padding:101.5px 1169px 0px 156px;

}
.main-footer a{
    color: var(--iris);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        text-decoration: none;
}

.studio-footer{ 
    color: var(--cloud,);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 21px;
        text-transform: uppercase;
        text-decoration: none;
}

.footer-paragraph{
    color: var(--cloud);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        line-height: 24px;
        letter-spacing: 0.32px;
        padding-left:156px;
        padding-top:17.5px;
}